{% extends "sharing/main_layout.html" %}
{% load static %}


{% block extra_link %}
    <link rel="stylesheet" href="{% static "" %}css/style.css">
    <link rel="stylesheet" href="{% static "" %}css/skins/color-1.css" class="alternate-style" title="color-1">
    <link rel="stylesheet" href="{% static "" %}css/skins/color-2.css" class="alternate-style" title="color-2">
    <link rel="stylesheet" href="{% static "" %}css/skins/color-3.css" class="alternate-style" title="color-3">
    <link rel="stylesheet" href="{% static "" %}css/skins/color-4.css" class="alternate-style" title="color-4">
    <link rel="stylesheet" href="{% static "" %}css/skins/color-5.css" class="alternate-style" title="color-5">
    <link rel="stylesheet " href="{% static "" %}css/style-switcher.css">
{% endblock %}

{% block content %}
    <!-- main container -->
    <div class="main-container">
        <!-- aside start -->
        <div class="aside">
              <div class="portfolio">
                <span>Your portfolio Address: </span>

                  <a href="{{ portfolio_link }}">{{ portfolio_link }}</a>
            </div>
            <div class="nav-toggler">
                <span></span>
            </div>
            <ul class="nav">
                <li><a href="#home" class="active"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
                <li><a href="#portfolio"><i class="fa fa-briefcase"></i> Portfolio</a></li>
                <li><a href="#contact"><i class="fa fa-comments"></i> contact </a></li>
            </ul>
        </div>
        <!-- main content -->
        <div class="main-content">
            <!-- home section -->
            <section class="home active section" id="home">
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">

                            <div class="section-title padd-15">
                                <h2>
                                    complete your information!
                                </h2>
                            </div>
                            <form method="post" id="userform" class="userform">
                                {% csrf_token %}
                                <input type="hidden" name="post-url" id=post-url" value="{{ post_url }}">
                                <div class="info">
                                    <label for="first-name">First name: </label>
                                    <input type="text" class="input-box" placeholder="Enter your name" name="first-name" id="first-name">
                                </div>
                                <div class="info">
                                    <label for="last-name">Last name: </label>
                                    <input type="text" class="input-box" placeholder="Enter your name" name="last-name" id="last-name">
                                </div>
                                <div class="info">
                                    <label for="profile-image">Select image:</label>
                                    <input type="file" name="profile-image" id="profile-image"/>
                                </div>
                                <div class="info">
                                    <label for="user-skill-title">your skill title: </label>
                                    <input type="text" class="input-box" name="user-skill-title" id="user-skill-title" placeholder="Enter your skill">
                                </div>
                                <div class="info">
                                    <label for="introduce">introduce yourself: </label>
                                    <textarea rows="4" cols="50" name="introduce" id="introduce" form="usrform" class="description-box"> </textarea>
                                </div>
                                <button type="button" id="btn-save-home" class="btn"> Save </button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section -->
            <section class="about section" id="about">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>
                                About me
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="about-content padd-15">
                            <div class="row">
                                <div class="about-text">

                                    <form action="*" id="userjob" class="userform">
                                        <div class="info">
                                            <label for="about-me-title">position/title : </label>
                                            <input type="text" class="input-box" id="about-me-title" name="about-me-title" placeholder="for example: backend developer">
                                        </div>

                                        <div class="info">
                                            <label for="work-experience">Work Experience: </label>
                                            <textarea rows="4" cols="50" name="work-experience" id="work-experience" form="usrform" class="description-box"> </textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="personal-info padd-15">
                                    <div class="row padd-15">
                                        <div class="info-item ">
                                            <p>Birthday : (m/d/Y)
                                                <input type="date" id="birthday" name="birthday">
                                            </p>
                                        </div>

                                        <div class="info-item">
                                            <label for="work-experience">Website : </label>
                                            <input type="text" class="input-box" id="website" name="website" placeholder="www.example.com">
                                        </div>
                                        <div class="info-item">
                                            <label for="work-experience">Email : </label>
                                            <input type="text" class="input-box" id="email" name="email" placeholder="example@example.com">
                                        </div>
                                        <div class="info-item">
                                            <label for="work-experience">Freelance : </label>
                                                <input type="text" class="input-box" name="freelance" id="freelance" placeholder="Available / no,I'm employer">
                                        </div>

                                    </div>

                                </div>

                                <div class="skills padd-15">
                                    <div class="row">
                                        <div class="skill-item padd-15">
                                            <h5>your Skills</h5>
                                            <input type="text" id="textInput" class="input-box" placeholder="Enter text">
                                            <input type="number" id="percentInput" class="input-box" placeholder="for example: 80%">
                                            <button id="addButton" class="btn">Add</button>
                                            <ul id="displayText"></ul>



                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="row padd-15">
                                <div class="buttons ">
                                    <input type="button" class="btn hire-me" value="Save" id="btn-save-about" name="btn-save-about">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

            <!-- portfolio section -->
            <section class="portfolio section" id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>portfolio</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="portfolio-heading padd-15">
                            <h2>My Last Projects :</h2>
                        </div>
                    </div>
                    <div class="row">

                        <div class="portfolio-item padd-15">
                            <div class="portfolio-item-inner shadow-dark">
                                <form id="portfolioform" class="userform">
                                    <div class="info">
                                        <label for="name">url: </label>
                                        <input type="url" id="url" class="input-box" name="url"  placeholder="https://example.com"  required />
                                    </div>
                                    <div class="info">
                                        <label for="img">Select image:</label>
                                        <input type="file" id="img" accept="image/*" multiple="multiple" required>
                                    </div>
                                    <button type="button" class="btn " onclick="addEntryProject()">Add</button>

                                    </form>
                                    <ul id="entriesListproject"></ul>
                                </div>

                        </div>
 <div class="row padd-15">
                            <div class="buttons ">
                                <input type="submit" class="btn hire-me" value="Save">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- contact section -->
            <section class="contact section" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Contact Me</h2>
                        </div>
                    </div>
                    <h3 class="contact-title padd-15">Have You Any Question?</h3>
                    <h4 class="contact-sub-title padd-15">I'm at your service</h4>
                    <div class="row">
                        <div class="contact-info-item padd-15">
                            <div class="icon"> <i class="fa fa-phone"></i></div>
                            <h4>Call Me On</h4>
                            <input type="text" class="input-box" id="phone" name="phone" placeholder="+98 123456789">
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"> <i class="fa fa-brands fa-linkedin"></i></div>
                            <h4>Linkedin</h4>
                            <input type="text" class="input-box" id="linkedin" name="linkedin" placeholder="Linkedin">
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"> <i class="fa fa-envelope"></i></div>
                            <h4>Email </h4>
                            <input type="text" class="input-box" id="about-email" name="about-email" placeholder="example@example.com">
                        </div>
                        <div class="contact-info-item padd-15">
                            <div class="icon"> <i class="fa fa-brands fa-square-instagram"></i></div>
                            <h4>Instagram</h4>
                            <input type="text" class="input-box" id="instagram" name="instagram" placeholder="www.example.com">
                        </div>
                    </div>

                </div>
                   <input type="button" class="btn hire-me" value="Save" name="btn-save-contact" id="btn-save-contact">
            </section>
        </div>
</div>

    <!-- sWITCHER -->
    <div class="style-switcher ">
        <div class="style-switcher-toggler  s-icon">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="day-night s-icon">
            <i class="fas "></i>
        </div>
        <h4>Theme colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActiveStyle('color-1')"></span>
            <span class="color-2" onclick="setActiveStyle('color-2')"></span>
            <span class="color-3" onclick="setActiveStyle('color-3')"></span>
            <span class="color-4" onclick="setActiveStyle('color-4')"></span>
            <span class="color-5" onclick="setActiveStyle('color-5')"></span>

        </div>
    </div>
{% endblock %}

{% block footer_extra_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.16/typed.umd.js" integrity="sha512-+2pW8xXU/rNr7VS+H62aqapfRpqFwnSQh9ap6THjsm41AxgA0MhFRtfrABS+Lx2KHJn82UOrnBKhjZOXpom2LQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static "" %}js/script.js"></script>
    <script src="{% static "" %}js/Style-switcher.js"></script>
    <script src="{% static "" %}js/jquery-3.7.1.min.js"></script>
    <script src="{% static "" %}js/ajax-dashboard.js"></script>
{% endblock %}